.homeContainer {
  max-width: 1120px;

  margin: 0 auto;

  @media (max-width: 1120px) {
    padding: 0 2rem;
  }
}

.posts {
  display: flex;
  flex-direction: column;

  a {
    strong {
      font-size: 1.75rem;
    }

    > p {
      font-size: 1.125rem;

      margin: 0.5rem 0 1.5rem 0;
    }

    > div {
      display: flex;

      font-size: 0.875rem;
      color: var(--info);

      div {
        display: flex;
        align-items: center;
      }

      time, span {
        margin-left: 0.5rem;
      }

      div + div {
        margin-left: 1.5rem;
      }
    }

    & + a {
      margin-top: 3rem;
    }
  }
}

.buttonLoadMore {
  font-weight: 600;
  font-size: 1.125rem;
  margin: 4rem 0 2rem;

  background: transparent;
  border: 0;
  color: var(--highlight);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
